 

.btn-primary {
  margin-left:33%;
  font-weight: bold;
  padding: 8px 27px;

  margin-top: 18px!important;
  /*background-color: #45619D;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#45619D), to(#45619D));
  background-image: -webkit-linear-gradient(top, #45619D, #45619D);
  background-image: -moz-linear-gradient(top, #45619D, #45619D);
  background-image: -ms-linear-gradient(top, #45619D, #45619D);
  background-image: -o-linear-gradient(top, #45619D, #45619D);
  background-image: linear-gradient(to bottom, #45619D, #45619D);*/
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset;
}
 /*.btn-primary:hover {
 background-color: #45619D;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#45619D), to(#45619D));
  background-image: -webkit-linear-gradient(top, #45619D, #45619D);
  background-image: -moz-linear-gradient(top, #45619D, #45619D);
  background-image: -ms-linear-gradient(top, #45619D, #45619D);
  background-image: -o-linear-gradient(top, #45619D, #45619D);
  background-image: linear-gradient(to bottom, #45619D, #45619D);
}
.btn-primary:active {
  background-color: #45619D;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#45619D), to(#45619D));
  background-image: -webkit-linear-gradient(top, #45619D, #45619D);
  background-image: -moz-linear-gradient(top, #45619D, #45619D);
  background-image: -ms-linear-gradient(top, #45619D, #45619D);
  background-image: -o-linear-gradient(top, #45619D, #45619D);
  background-image: linear-gradient(to bottom, #45619D, #45619D);
}*/

.powered_by{
font-weight:bold;
font-size: 1.1em;
color:#fff;
}
.powered_by:hover{
text-decoration: none;
color:#fff;/*#45619D;*/
}
body.oe_single_form{
  background: #eee url(/contentieux/static/src/img/backlogin.jpg) ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.modal-content{
  border: 2px solid #e9ebee;
}


body.oe_single_form .oe_single_form_logo{
  height: 110px;
  background: rgba(0, 0, 0, 0) url(/contentieux/static/src/img/logo.png) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body.oe_single_form .btn-primary {
  margin-left: 0!important;
  width: 100%!important;
    border: 1px solid #0b273a;
    color: #ffffff!important;
    background-color: #1b7cc0!important;
}


body.oe_single_form .control-label{
  color: #fff!important;
}


body.oe_single_form .oe_single_form_container{
  top:460px!important;
  left: 262px!important;
}

.oe_single_form_footer,
.powered_by{
  color:#fff;
}

.form-group {
    margin-bottom: 10px!important;
}

/*
.oe_login_form .form-control{
    background: #e9ebee!important;
    color:#000;
}

*/
/*
@media only screen and (min-device-width: 400px) {

body.oe_single_form{
  background: #eee url(/contentieux/static/src/img/backlogin.jpg) ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}


@media only screen and (max-device-width: 400px) {


}*/



