.btn_odoo_print{
    border-radius: 10px!important;
    background: linear-gradient(to right, #4C66A4, #4ca2cb) !important;
    border: none!important;
    color: #FFFFFF!important;
    text-align: center!important;
    text-transform: uppercase!important;
    font-size: 12px!important;
    padding: 9px!important;
    width: 240px!important;
    transition: all 0.4s!important;
    cursor: pointer!important;
    margin: 5px!important;
}
 .btn_odoo_print span {
   cursor: pointer!important;
   display: inline-block!important;
   position: relative!important;
   transition: 0.4s!important;
 }
 .btn_odoo_print span:after {
   content: '\00bb'!important;
   position: absolute!important;
   opacity: 0!important;
   top: 0!important;
   right: -20px!important;
   transition: 0.5s!important;
 }
 .btn_odoo_print:hover span {
   padding-right: 25px!important;
 }
 .btn_odoo_print:hover span:after {
   opacity: 1!important;
   right: 0!important;
 }














