
//theme
.navbar-inverse-komnas {
    background-color: @navbar-inverse-komnas;
    border-color: @navbar-inverse-border-komnas;
}

.navbar-inverse-komwil {
    background-color: @navbar-inverse-komwil;
    border-color: @navbar-inverse-border-komwil;

}

.navbar-inverse-komda {
    background-color: @navbar-inverse-komda;
    border-color: @navbar-inverse-border-komda;
}

.navbar-inverse-bumn {
    background-color: @navbar-inverse-bumn;
    border-color: @navbar-inverse-border-bumn;
}

.navbar-inverse-ukm {
    background-color: @navbar-inverse-ukm;
    border-color: @navbar-inverse-border-ukm;
}

// Put Loading indicator in the right bottom of the screen
   .o_web_client .odoo .oe_loading {
       background-color: darken(@navbar-inverse-komnas, 13.5%) !important;
       top: inherit;
       bottom: 0;
       right: 0;
       padding: 5px 50px;
       border-radius: 0 !important;
       opacity: 0.8;
   }
// Left Menu Bar =========================================

// Toggle left menu bar
   .ul_toggle_leftmenu {
       padding-left: 0px;
       list-style: outside none none;
       list-style-type: none;
       list-style-image: none;
       list-style-position: outside;
       margin-bottom: 0px !important;
       max-width: 300px;
   }
.toggle_leftmenu {
    color: #FFF !important;
    padding: 14px 14px;
}
.toggle_leftmenu:hover {
    color: #FFF !important;
    cursor: pointer;
    background-color: darken(@brand-info, 13.5%);
}

// Change font & color leftbar
   .odoo .oe_leftbar .oe_secondary_menus_container {
       font-family: Ubuntu;
   }

.odoo .oe_secondary_menu_section {
    color: @brand-primary;
}

.odoo .oe_secondary_menu_section > .oe_menu_leaf {
    color: @brand-primary;
}

.odoo .nav-pills > li.active > a, .odoo a.list-group-item.active > a {
    background-color: @brand-primary !important;
}

// White background
   .odoo .oe_leftbar {
       background: #ffffff none repeat scroll 0 0 !important;
   }

// Leftbar notifications
   .odoo .badge {
       background-color: @brand-primary;
   }

// Navbar =========================================
#oe_main_menu_navbar {
.box-shadow(0px 0px 8px #666666);
    border: none;
.navbar-collapse {
    padding-right: 16px;
    padding-left: 16px;
}
}

#oe_main_menu_navbar,
.navbar-nav {
li {
a, button {
    font-size: 14px !important;
    padding: 14px 10px !important;
    margin-top: 0 !important;
    line-height: 21px !important;
}
}
.dropdown-menu {
li {
a, button {
    padding: 4px 10px !important;
    font-size: 13px !important;
}
}
}
}

// Align green progress indicator
   #oe_main_menu_navbar .o_planner_systray > .progress {
       margin-top: 18px !important;
   }

// Make formwidth relative to screen
   .o_form_view .o_form_sheet_bg .o_form_sheet {
       max-width: 90% !important;
   }

.o_form_view .o_form_sheet_bg .o_form_field.o_form_field_many2one .o_external_button {
    padding: 0;
    margin-left: 2px;
    font-size: 19px;
    color: @brand-logo;
    border: none;
    background-color: transparent;
&:hover {
     background-color: transparent;
 }
}

.o_form_view .o_form_sheet_bg .o_form_required {
&.o_form_input, .o_form_input, &.o_form_textarea, .o_form_textarea {
                                    background-color: @brand-required;
                                }
}

.o_form_view .o_form_sheet_bg .oe_button_box .oe_stat_button .o_button_icon{
    color: @brand-primary;
}

.o_form_view .o_form_sheet_bg .oe_button_box .oe_stat_button .o_stat_info .o_stat_value{
    color: darken(@brand-logo, 13.5%) !important;
}


.o_web_client .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu .oe_secondary_menu_section{
    color: @brand-success;
}

a {
    color: @brand-success;
&:hover {
     color: darken(@brand-success, 5%);
 }
}

.o_control_panel .breadcrumb{
    font-size: 18px;
    margin: 0px;
> li > a {
    color: darken(@brand-logo, 13.5%) !important;
    cursor: pointer;
&:hover {
     color: darken(@brand-logo, 30.5%) !important;
     text-decoration: none;
 }
}
}

.o_form_view .o_form_sheet_bg .o_horizontal_separator{
    color: @brand-primary;
}

.o_form_view .o_form_sheet_bg , ul.oe_form_status {
li.oe_active {
.o-vertical-gradient(lighten(@brand-logo, 5%), darken(@brand-logo, 20%))!important;
> .arrow span {
.o-skew-gradient(lighten(@brand-logo, 5%), darken(@brand-logo, 20%))!important;
}
}
}
// Explorer 11 fix to use fullscreen

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .oe-view-manager-view-kanban, .oe-view-manager-view-form, .oe-view-manager-view-list, .oe-view-manager-view-calendar, .oe-view-manager-view-pivot, .oe-view-manager-view-graph {
        width: 100% !important;
    }
// Fix user preference height
   .modal .modal-content .modal-body .oe-view-manager-content {
       position: static;
       height: 400px;
   }
// Fix salesboard width
   .oe-view-manager-view-sales_team_dashboard {
       width: 100%;
   }
}



.breadcrumb > .active{
    color: #4268b7!important;
}
.breadcrumb{
    background-color: transparent!important;
    padding: 8px 0px!important;
}
.o_dropdown_toggler_btn{
    background-color: #e91e61!important;
    border-color: #ffffff!important;
    color: #ffffff;
}
.o_dropdown_toggler_btn:hover{
    background-color: #f4779b!important;
}

.o_searchview .o_searchview_facet .o_searchview_facet_label{
    background-color: #4f73bf!important;
}

.btn-primary{
    background-color: #4f73bf!important;
    border-color: #35569a!important;
    color: #ffffff;
}
.o_searchview .o_searchview_facet{
    background-color: #4f73bf!important;
    border-color: #35569a!important;
}

.o_searchview .o_searchview_facet .o_facet_remove {
    color: #ffffff!important;
}
.o_searchview .o_searchview_facet .o_facet_values{
    color: #ffffff!important;
}
.btn-icon:active, .btn-icon.active, .open > .dropdown-toggle.btn-icon{
    background-color: #e91e61!important;
    border-color: #ffffff!important;
    color: #ffffff;
}
.btn-icon{
    background-color: #e91e61!important;
    border-color: #ffffff!important;
    color: #ffffff;
}
.btn-default{
    background-color: #E91E63!important;
}

.o_web_client{
    background-color: transparent!important;
}

.navbar{margin-bottom: 0px!important;}
.o_main_content{
    background-color: white!important;
}
.o_control_panel{
    background-color: white!important;
}

.o_list_view thead > tr > th{
    background-color: white!important;
    font-size: 15px!important;
}
.o_form_view .o_group .o_td_label{
    border: none!important;
}

.o_form_view .o_group{
    margin: 5px!important;
}
.container{
    padding: 15px 10px!important;
}


.fa-external-link{
    background-color: transparent!important;
}

.o_form_view .o_group.o_inner_group > tbody > tr > td.o_td_label{
    padding:0px!important;
    min-width: 260px!important;
}
.step-icon_disable{
    background: #ccc!important;
}
.step-icon{
    width: 60px!important;
    height: 60px!important;
    display: block!important;
    border-radius: 50%!important;
    -webkit-border-radius: 50%!important;
//background: #ccc!important;
    margin: 0 auto!important;
    position: relative!important;
    outline: none!important;
    -webkit-outline: none!important;
    color: #fff!important;
    font-size: 38.6px!important;
    text-align: center!important;
    background-image: -moz-linear-gradient( 136deg, rgb(242,113,33) 0%, rgb(233,64,87) 50%, rgb(138,35,135) 100%);
    background-image: -webkit-linear-gradient( 136deg, rgb(242,113,33) 0%, rgb(233,64,87) 50%, rgb(138,35,135) 100%);
    background-image: -ms-linear-gradient( 136deg, rgb(242,113,33) 0%, rgb(233,64,87) 50%, rgb(138,35,135) 100%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25)!important;
    -o-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25)!important;
    -ms-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25)!important;
    -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25)!important;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25)!important;
}
.steps ul {
    display: flex!important;
    display: -webkit-flex!important;
    list-style: none!important;
    padding-left: 108px!important;
}
.step-text{
    color: #000!important;
    font-weight: 400!important;
    font-size: 18px!important;
    padding: 14px 0 8px!important;
}
.title{
    text-align: center!important;
}
.tab-content .tab-pane{
    border: 1px solid #ccc!important;
    border-top: none!important;
}
//.o_form_view .o_form_invisible, .o_form_view .o_form_field_empty{
  //    display: block!important;
  //}


.line::before{
    position: absolute!important;
    content: ""!important;
    background: #e5e5e5!important;
    width: 170px!important;
    height: 2px!important;
    top: 50%!important;
    transform: translateY(-50%)!important;
    -o-transform: translateY(-50%)!important;
    -ms-transform: translateY(-50%)!important;
    -moz-transform: translateY(-50%)!important;
    -webkit-transform: translateY(-50%)!important;
}

.line::before,.line::after{
    background-image: -moz-linear-gradient( 0deg, rgb(242,113,33) 0%, rgb(233,64,87) 50%, rgb(138,35,135) 100%)!important;
    background-image: -webkit-linear-gradient( 0deg, rgb(242,113,33) 0%, rgb(233,64,87) 50%, rgb(138,35,135) 100%)!important;
    background-image: -ms-linear-gradient( 0deg, rgb(242,113,33) 0%, rgb(233,64,87) 50%, rgb(138,35,135) 100%)!important;
}
.line::before{
    right: 100%!important;
}

.tab-content .tab-pane{
    border:none!important;
}

//.tab-content{
  //    width: 80%;
  //    margin: 38px auto;
  //    border: 1px solid #ccc;
  //    padding: 10px;
  //}


.btn-imp{
    background-color: transparent!important;
    color: black!important;
    border: none!important;
    font-size: 15px!important;
    padding: 0;
    line-height: 40px;
    width: 100%;
}

.div_imprime .col-md-10{
    padding: 0px!important;
    text-align: center;
}
.div_imprime{
    padding: 15px 15px!important;
}

.o_form_view .o_form_label{
    font-size: 14px!important;
}
.o_form_view .o_group.o_inner_group > tbody > tr > td{
    vertical-align: middle!important;
}

.col-2_4,
.col-sm-2_4,
.col-md-2_4,
.col-lg-2_4,
.col-xl-2_4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float:left;
}
.col-2_4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}


fieldset{
    margin-top: 12px!important;
    border: 1px solid #ccc!important;
    padding: 0px 30px 20px 30px!important;
    -moz-border-radius: 8px!important;
    border-radius: 8px!important;
}
legend{
    width: auto!important;
    border-bottom:none!important;
    border-radius: 5px;
    background-color: #DFA941;
    color: white;
    padding: 5px 10px;
}
@media (min-width: 540px) {
    .col-sm-2_4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2_4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2_4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2_4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}



@media only screen and (max-width: 760px) {
    .o_control_panel .o_cp_right {
        width: 34% !important;
    }

    .o_control_panel .o_cp_left {
        width: 66% !important;
    }
}



